{% extends 'base.html'%}
{% block lunbo %}
{% load static %}
<link rel="stylesheet" href="{% static 'shopcart/css/shop_cart_info.css'%}">
<script src="{% static 'shopcart/js/app/shop_cart_info.js'%}"></script>
<div class="box111">
<div class="shop_card_box box222">
    <form action="{% url 'orders:order_confirm' %}" method="POST">
        {% csrf_token %}
    <input type="checkbox" style="width:20px;height: 20px;" name="" id="check_all">全选
    {% for shop_cart in shop_cart_list %}
    <div class="shop_cart_item ">
        <div class="col-md-12">

            <div class="col-md-3 left1">
                <input type="checkbox" style="width:20px;height: 20px;" name="buy_goods_id" value="{{ shop_cart.id }}">
                <img style="width: 150px;height: 150px;" src="/{{shop_cart.goods.goodsimages_set.all.first.path}}" alt="">
            </div>
            <div class="col-md-9 ">
                <p class="goods_name size1">商品名称：{{shop_cart.goods.name}}</p>
                <p class="good_price size1" data-m="{{shop_cart.goods.price}}">商品价格：{{shop_cart.goods.price}}</p>
                <div class="amount_box">
                    <span class="reduce" down_goods_id="{{shop_cart.id}}" style="cursor: pointer">-</span>
                    <input type="text" name="count" value="{{shop_cart.count}}" class="sum">
                    <span class="add" up_goods_id="{{shop_cart.id}}" style="cursor: pointer">+</span>
                </div>
                <p class="subtotal size1">总价：<span>{{shop_cart.total}}</span></p>
            </div>
            <a class="del-cart" style=" margin-left: 30px;cursor:pointer;" goods_id="{{shop_cart.id}}">删除</a>
    </div>
        </div>
        <hr>
    {% empty %}
    <div class="shop_cart_item">购物车为空!</div>
    {% endfor %}
        <button type="submit" class="btn btn-danger">结算</button>

    </form>
</div>
</div>
{% endblock %}
{% block content %}{% endblock %}
{% block content2 %}{% endblock %}