{% extends 'base.html' %}
{% block lunbo %}
{% load static %}
<!--<link rel="stylesheet" href="{% static 'stores/css/store_add.css' %}">-->
<!--<link rel="stylesheet" href="{% static 'stores/css/store_add.css' %}">-->
<link rel="stylesheet" href="{% static 'orders/css/order_confirm.css'%}">
<div class="container">
    <!--已开店铺-->
    <!--<div class="col-md-12">-->
        <!--<div class="alert alert-success" role="alert">-->
          <!--<a href="{% url 'stores:store_list' %}" class="alert-link"><p style="text-align: center">点击查看您拥有的小店~~~😀</p></a>-->
        <!--</div>-->
    <!--</div>-->
    <form action="{% url 'orders:order_done' %}" method="post">
            <div class="page-header">
          <h1>选择收货地址 <br>
              <small>
                {% csrf_token %}

                <!--
                1. 用户收货地址 : input:radio
                2. 用户购物车结算商品:shop_cart_list
                <!--展示用户所有收货地址-->
                <br />
                {% for sc in shop_cart_list %}
                <input type="hidden" name="sc" value="{{sc.id}}">
                {% endfor %}

                {% for address in shop_cart_list.first.users.address_set.all %}
                {% if address.is_default %}
                    <input type="radio" name="addr_id" checked value="{{address.id}}">
                    {{address.consignee}}--{{address.phone}}--{{address.nation}}->{{address.province}}->{{address.city}}->{{address.country}}->{{address.street}}->{{address.intro}}
                    <br />
                {% else %}
                    <input type="radio" name="addr_id" value="{{address.id}}">
                    {{address.consignee}}--{{address.phone}}--{{address.nation}}->{{address.province}}->{{address.city}}->{{address.country}}->{{address.street}}->{{address.intro}}
                    <br />
                {% endif %}

                {% empty %}
                <div>没有收获地址，请<a href="{% url 'users:add_address' %}">添加</a></div>
                {% endfor %}

              </small>
          </h1>
        </div>
    <div class="page-header col-md-12">
          <h1>订单确认</h1>
        {% for sc in shop_cart_list %}
            <input type="hidden" name="sc" value="{{sc.id}}">
            {% endfor %}

        </div>

        <div class="page-header col-md-12 title">
          <h3>商品图片</h3>
          <h3>商品信息</h3>
          <h3>商品总价</h3>
        </div>

    <div class="col-md-12">
        {% for shop_cart in shop_cart_list %}
            <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object" src="/{{shop_cart.goods.goodsimages_set.first.path}}" alt="...">
                </a>
              </div>
              <div class="media-body media-middle">
                <h3 class="media-heading">{{shop_cart.goods.name}}</h3>
                <h3 class="media-heading">价格：{{shop_cart.goods.price}}</h3>
                <h3 class="media-heading">数量：{{shop_cart.count}}</h3>
                <h3 class="media-heading total">小计：{{shop_cart.total}}</h3>
              </div>
        </div>
        {% endfor %}

    </div>
        <h3 align="right" style="color: red;">订单总价：{{total}}</h3>
        <button type="submit" class="btn btn-danger">提交订单</button>

</form>
</div>
{% endblock %}
{% block content %}{% endblock %}
{% block content2 %}{% endblock %}