{% extends 'base.html' %}
{% block lunbo %}
{% load static %}
<link rel="stylesheet" href="{% static 'stores/css/store_list.css' %}">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
              <h1>欢迎光临您的小店！🙂</h1>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">用户须知</a></p>
            </div>
        </div>
    </div>

        <div class="row">
            {% for s in store_list %}
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="/{{s.cover}}" class="img-circle" alt="店铺封面">
                  <div class="caption">
                    <h3>店铺名称：<small>{{s.name}}</small></h3>
                    {% if s.status == 1%}
                    <p>店铺状态：正常</p>
                      {% elif s.status == 0%}
                      <p>店铺状态：停业</p>
                      {% endif %}
                    <p><a href="{% url 'stores:store_info' s.id %}" class="btn btn-primary" role="button">查看</a> <a href="{% url 'stores:store_add' %}" class="btn btn-default" role="button">返回</a></p>
                  </div>
                </div>
              </div>
            {% empty %}
            <h2>您还没有店铺!请<a href="{% url 'stores:store_add' %}" style="color: red;">开店</a></h2>
            {% endfor %}
        </div>



</div>
{% endblock %}
{% block content %}{% endblock %}
{% block content2 %}{% endblock %}









<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看店铺</title>
</head>
<body>
<ul>
    {% for s in store_list %}
    <li>
        <img src="/{{s.cover}}" alt="">
        <br>
        名称： <p>{{s.name}}</p><br>
        状态：<p>{{s.status}}</p><br>
        <a href="{% url 'stores:store_info' s.id %}">查看店铺详情</a>
    </li>
    <hr>
    {% empty %}
    <p>您还没有店铺</p><br>
    {% endfor %}
</ul>
</body>
</html>