{% extends 'base.html'%}
{% block lunbo %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
<link rel="stylesheet" href="{% static 'goods/css/goods_info.css' %}">
<script src="{% static 'goods/js/app/goods_info.js' %}"></script>
<!--------------------------------注册----------------------------------------------------->
<div class="singleshow">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="tupian" src="/{{goods.goodsimages_set.all.first.path}}" alt="">
        </div>
        <div class="col-md-6">
            <div class="panel panel-default xiangqing">
            <div class="panel-body">
                <h3>商品名称：{{goods.name}}</h3>
                <hr>
                <h4>商品价格：{{goods.price}}</h4>
                <hr>
                <h4>商品库存：{{goods.stock}}</h4>
                <hr>
                <h4>上架时间：{{goods.add_time|date:'Y-m-d'}}</h4>
                    <hr>
                <br>
                    购买商品数量：<input onclick="judge(this.value)" type="number" name="count" id="count" value="1">
                <button id="add-cart" goods_id="{{goods.id}}">加入购物车</button>
                <!--<div id="war" style="display: none">-->
                    <!--===================商品添加成功-->
                <!--</div>-->

                <br>
                <br>
                <br>
                <p>价格说明：上文显示的划线价格系该商品的建议零售价（而非法律意义上的原价），仅供您参考。</p>
            </div>
</div>
        </div>
    </div>
</div>
</div>
<script>
    function judge(val){
    		document.getElementById('count').value = val >= 1 ? val : 1;
	}
</script>

{% endblock %}
{% block content %}{% endblock %}
{% block content2 %}{% endblock %}